
.mylist
{
    list-style: none;
}

.mytext
{
    text-align: center;
}

.myMargin
{
     margin-top: 30px;
}



.myBottom
{
    padding-bottom: 5px;
}



.myspan
{
    background-color: #ecf0f1;
}

#footer
{
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #9eb1c5;
    color: #111;
}

#footerE
{
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #9eb1c5;
    color: #111;
}



 /*
  #myinfo
    {
    background-color: #bdc3c7;
    padding-top: 57px;
    padding-bottom: 20px;
    }
 */
 
.mysize
{
    width: 100px;
    height: 600px;
    
}

#btnScroll
{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    cursor: pointer;
    padding: 16px;

}

@media (max-width:575px)
{
    h1
    {
        font-size: 16px;
    }
    p
    {
        font-size: 16px;
       
    }
}

@media (max-width: 767px)
{
    h1
    {
        font-size: 16px;
    }
    p
    {
        font-size: 16px;
       
    }
}

@media (max-width: 991px)
{
    h1
    {
        font-size: 16px;
    }
    p
    {
        font-size: 16px;
        
    }
}

@media (max-width: 1199px)
{
    h1
    {
        font-size: 16px;
    }
    p
    {
        font-size: 16px;
       
    }
}

/*Tablet*/
@media screen and (max-wight: 768px)
{
    h4
    {
        font-size: 20px;
    }
    h6
    {
        font-size: 14px;
    }
    p
    {
        font-size: 12px; 
    }
    a
    {
        font-size: 10px;
    }
}

/*Mobile*/
@media only screen and (max-wight: 600px)
{
    h4
    {
        font-size: 20px;
    }
    h6
    {
        font-size: 14px;
    }
    p
    {
        font-size: 12px; 
    }
    a
    {
        font-size: 10px;
    }
};

/*Laptop*/
@media only screen and (max-wight: 992px)
{
    h4
    {
        font-size: 20px;
    }
    h6
    {
        font-size: 14px;
    }
    p
    {
        font-size: 12px; 
    }
    a
    {
        font-size: 10px;
    }
};

/*Large screen*/
@media screen and (max-wight: 1200px)
{
    h4
    {
        font-size: 20px;
    }
    h6
    {
        font-size: 14px;
    }
    p
    {
        font-size: 12px; 
    }
    a
    {
        font-size: 10px;
    }
}


 nav
 {
    font:normal;
 }

.pic
{
    margin-top: 10px;
}

.mym
{
    padding-top: 10px;
}